{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "starship"
brew "git"
brew "tree"
brew "jq"
brew "gh"
brew "bat"
brew "git-delta"
brew "lazygit"
brew "eza"
brew "nvm"
brew "timrogers/tap/litra-autotoggle"
brew "litra"
brew "httpie"
brew "age"
brew "tlrc"
brew "zoxide"
brew "fzf"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "glow"
{{- if eq .profile "work" }}
brew "pkg-config"
brew "pixman"
brew "cairo"
brew "pango"
brew "libpng"
brew "giflib"
brew "librsvg"
brew "tilt"
brew "dopplerhq/cli/doppler"
{{ join .chezmoi.sourceDir ".work-brew-packages.age" | include | decrypt }}
{{- end }}
cask "google-chrome"
cask "visual-studio-code"
cask "ghostty@tip"
cask "rectangle"
cask "raycast"
cask "slack"
cask "monitorcontrol"
cask "caffeine"
cask "spotify"
cask "karabiner-elements"
cask "pgadmin4"
cask "cursor"
cask "linear-linear"
cask "dropbox"
cask "1password"
cask "docker-desktop"
brew "docker"
brew "docker-compose"
brew "docker-credential-helper"
brew "colima"
brew "postgresql@15"
cask "httpie-desktop"
cask "notion"
{{- if eq .profile "personal" }}
cask "zed"
brew "tw93/tap/mole"
brew "opencode"
{{- end }}
EOF
{{ end -}}
