Host *
  AddKeysToAgent yes
  UseKeychain yes

Host github.com
  IdentityFile ~/.ssh/{{ .gitSigningKeyName }}
{{- if and .hasGitlabAccess (ne .gitlabHost "") }}

Host {{ .gitlabHost }}
  IdentityFile ~/.ssh/id_gitlab
  AddKeysToAgent yes
{{- end }}
