Host *
  AddKeysToAgent yes
  UseKeychain yes

Host github.com
  IdentityFile ~/.ssh/{{ .gitSigningKeyName }}
{{- if .hasGitlabAccess }}

Host gitlab.com
  IdentityFile ~/.ssh/id_gitlab
  AddKeysToAgent yes
{{- end }}
